sudo: false
language: python

os: linux
dist: trusty
python:
  - 2.7
  - 3.6
env:
  - CHAINER_VERSION="chainer<3"
  - CHAINER_VERSION="chainer"

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes
  - conda update -q conda
  - conda info -a
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment
  - conda install pip pytest
  - conda install -c rdkit rdkit
  - pip install '${CHAINER_VERSION}'
  - python setup.py install

script:
  - cd tests
  - pytest -m "not (gpu or slow)"